.logo{
    background: linear-gradient(90deg, rgba(117,15,179,1) 17%, rgba(255,0,125,1) 96%);
    padding-bottom: 90px;
}
.card{
    transition: all 0.6s ease;
}
.card:hover{
    transform: scale(1.1);
}
#logo{
    transition: all 0.5s ease;
}
#logo:hover{
    transform: scale(1.1);
}
#tombol{
    transition: all 0.8s ease;
}
#tombol:hover{
    transform: scale(1.2);
}

.gradient{
    background: linear-gradient(90deg, rgba(117,15,179,1) 17%, rgba(255,0,125,1) 96%);
}
.carousel-item{
    font-family: cursive;
    height: 650px;
    margin-top: 0px;
}
.carousel-item img{
    filter: brightness(40%);
    max-width:100%;
    height:auto;
}
.display-4{
    vertical-align: top;
}
.text-pink{
    color: rgba(255,0,125,1);
}
.text-ungu{
    color: rgba(117,15,179,1);
}
.tbl-ungu{
    color:#fff;
    background-color:#750fb3;
    border-color:#750fb3;
}
.tbl-pink{
    color:#fff;
    background-color:#ff007d;
    border-color:#ff007d;
}
